body{
    margin:0;
    background-color: rgb(40, 38, 46);
    display: grid;
    grid-template-columns:15% 70% 15% ;
    grid-template-rows:4vh 6vh 280vh 10vh;
    grid-template-areas:
    'dp dp dp dp'
    'hd hd hd hd'
    'ct ct ct ct'
    'ft ft ft ft';
}


header{
    background-color: rgb(40, 38, 46);
    grid-area:hd;
    border: 1px #2980b9 solid ;
    border-left: 0px;
    border-right: 0px;
}


nav{
    height: 100%;
    display: flex;
    flex-direction:row;
}
@font-face {
    font-family: 'agency_fb'; /*a name to be used later*/
    src: url('../misc/agencyfb_bold.ttf'); /*URL to font*/
}
.naver{
    background-color: rgb(40, 38, 46);
    margin:10px 5px 10px 5px;
    transition: 500ms;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border: none;
    text-decoration: none;
    font-family:agency_fb;
    font-size: 21px;
}
.naver:hover{
    background-color:#2980b9;
    cursor: pointer;
}
.naver:active{
    background-color: #2980b9;
}
a

#display{
    grid-area:dp;
    background-color: rgb(21, 95, 64);
}


#content{
    grid-area:ct;
    background-color: rgb(52, 49, 58);
    margin: 50px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    border: 1px #2980b9 solid;
}


.type1{ 
    color:aliceblue;
}
article.type1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'img txt';
}
div.type1{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:agency_fb;
    width: 540px;
    margin-left:20px;
    margin-right: 20px;
    
}
h2.type1{
    font-size: 50px;
}
div
img.type1{
    grid-area: img;
    width: 800px;
    height: 450px;
}
/*article_big specifications:

*/

.article_small{
    color: green;
}
/*article_small specifications:

*/

.article_wild{
    color: blue;
}
/*article_wild specifications:

*/

footer{
    grid-area: ft;
    background-color: rgb(40, 38, 46);
    border: 1px #2980b9 solid ;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}