body{
    margin:0;
    background-color: rgb(40, 38, 46);
    display: grid;
    grid-template-columns:15% 70% 15% ;
    grid-template-rows:4vh 6vh 280vh 10vh;
    grid-template-areas:
    'dp dp dp dp'
    'hd hd hd hd'
    'ct ct ct ct'
    'ft ft ft ft';
}


header{
    background-color: rgb(40, 38, 46);
    grid-area:hd;
    border: 2px #2980b9 solid ;
    border-left: 0px;
    border-right: 0px;
}


nav{
    height: 100%;
    display: flex;
    flex-direction:row;
}
.naver{
    background-color: rgb(40, 38, 46);
    margin:10px 5px 10px 5px;
    transition: 500ms;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border: none;
    text-decoration: none;
}
.naver:hover{
    background-color:#2980b9;
    cursor: pointer;
}
.naver:active{
    background-color: #2980b9;
}
a

#display{
    grid-area:dp;
    background-color: rgb(21, 95, 64);
}


#content{
    grid-area:ct;
    background-color: rgb(52, 49, 58);
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}


.article_big{ 
    color:red;
}
img.article_big{
    width: 160px;
    height: 90px;
}
/*article_big specifications:

*/

.article_small{
    color: green;
}
/*article_small specifications:

*/

.article_wild{
    color: blue;
}
/*article_wild specifications:

*/

footer{
    grid-area: ft;
    background-color: rgb(40, 38, 46);
    border: 2px #2980b9 solid ;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}