body{
    margin:0;
    background-color: rgb(57, 66, 66);
    display: grid;
    grid-template-columns:15% 70% 15% ;
    grid-template-rows:4vh 6vh 280vh 10vh;
    grid-template-areas:
    'dp dp dp dp'
    'hd hd hd hd'
    'ct ct ct ct'
    'ft ft ft ft';
    color: aliceblue;
}


header{
    background-color: rgb(24, 21, 27);
    grid-area:hd;
}


nav{
    display: flex;
    flex-direction:row;
    align-content: center;
}
.naver{
    background-color: rgb(24, 21, 27);
    margin:5px;
    transition: 500ms;
}
.naver:hover{
    background-color:#2980b9;
    cursor: pointer;
}

#display{
    grid-area:dp;
    background-color: rgb(10, 43, 29);
}


#content{
    grid-area:ct;
    background-color: aquamarine;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}


.article_type1{ 
    color:red
}
/*article_type1 specifications:

*/

.article_type2{
    color: green;
}
/*article_type2 specifications:

*/

.article_type3{
    color: blue;
}
/*article_type3 specifications:

*/


footer{
    grid-area: ft;
    background-color: #2980b9;
}