body.main{
    margin:0;
    background-color: rgb(40, 38, 46);
    display: grid;
    grid-template-columns:15% 70% 15% ;
    grid-template-rows:6vh 4vh auto 60vh;
    grid-template-areas:
    'hd hd hd hd'
    'dp dp dp dp'
    'ct ct ct ct'
    'ft ft ft ft';
}
body.login{
    display: flex;
    margin:0;
    background-color: rgb(40, 38, 46);
    width:100vw;
    height: 100vh;
    justify-content: center;
}

.login_site{
    width: 60em;
    height: 50em;
    background-color: #2980b9;
    place-self: center;
}

header{
    background-color: rgb(40, 38, 46);
    grid-area:hd;
    border-bottom: 1px aliceblue solid;
}


nav{
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}
nav div{
    height: 100%;
    display: flex;
    flex-direction: row;
}
@font-face {
    font-family: 'agency_fb'; /*a name to be used later*/
    src: url('../misc/agencyfb_bold.ttf'); /*URL to font*/
}
.nav_button{
    background-color: rgb(40, 38, 46);
    margin:10px 5px 10px 5px;
    transition: 500ms;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border: none;
    text-decoration: none;
    font-family:agency_fb;
    font-size: 21px;
}
.nav_button:hover{
    background-color:#2980b9;
    cursor: pointer;
}
.nav_button:active{
    background-color: #2980b9;
}
a{
    text-decoration: none;
}
#login{
    background-color: aliceblue;
    color: rgb(40, 38, 46);
    justify-self:end;
}
#login:hover{
    background-color: #2980b9;
}

#display{
    grid-area:dp;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0%;
    display: flex;
    overflow-x: auto;
    overflow-y: none;
    scrollbar-width: none;
}
#feed{
    display: flex;
    align-content: center;
    height: 100%;
    gap: 30em;
    animation:spin 15s infinite linear;
}
.card{
    flex: 0 0 auto;
    background-color: none;
    width: auto;
    height: 100%;
    align-content: center;
    color: aliceblue;

}

@keyframes spin{
    from {translate: 100%;}
    to{translate: -100%;}
}
#content{
    grid-area:ct;
    background-color: rgb(40, 38, 46);
    margin: 0px 15% 50px 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
}
article:hover{
    text-decoration: underline;
}


.type1{ 
    color:aliceblue;
}
article.type1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'img txt';
    padding-top:20px;
    padding-bottom: 20px;
}
div.type1{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:agency_fb;
    width: 540px;
    margin-left:20px;
    margin-right: 20px;
    
}
h2.type1{
    font-size: 50px;
}
img.type1{
    grid-area: img;
    width: 800px;
    height: 450px;
}
/*article_type_1 specifications:
        <a href="">
            <article class="type1">
                <img class="type1" src="  16:9 image  " alt="">
                <div class="type1">
                    <h2 class="type1">  HEADLINE  </h2>
                    <p class="type1">  by author  </p>
                    <p class="type1">  xx/xx/xxxx  </p>
                </div>
            </article>
        </a>
*/



.collection{
    display: flex;
    flex-direction: row;
}
.type2{ 
    color:aliceblue;
}
a.type2{
    width:25%;
    height:width;
    padding-bottom: 20px;
}
article.type2{
    display: grid;
    grid-template-areas: 'img txt';
    grid-template-columns: 1fr 4fr;
    width:100%;
    height:100%;
}
div.type2{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:agency_fb;
    margin-left:20px;
    margin-right: 20px;
}
h2.type2{
    font-size: 20px;
}
img.type2{
    grid-area: img;
    width: 100px;
    height: 100px;
}
/*article_type_2 specifications:
<div class="collection">
            <a href="">
                <article class="type2">
                    <img class="type2" src="../img/fixed-ratio.webp" alt="">
                    <div class="type2">
                        <h2 class="type2">Grischelino fotograferad med Epstein. Hela NASDAQ slimad</h2>
                    </div>
                </article>
            </a>

            <a href="">
                <article class="type2">
                    <img class="type2" src="../img/fixed-ratio.webp" alt="">
                    <div class="type2">
                        <h2 class="type2">Grischelino fotograferad med Epstein. Hela NASDAQ slimad</h2>
                    </div>
                </article>
            </a>

            <a href="">
                <article class="type2">
                    <img class="type2" src="../img/fixed-ratio.webp" alt="">
                    <div class="type2">
                        <h2 class="type2">Grischelino fotograferad med Epstein. Hela NASDAQ slimad</h2>
                    </div>
                </article>
            </a>

            <a href="">
                <article class="type2">
                    <img class="type2" src="../img/fixed-ratio.webp" alt="">
                    <div class="type2">
                        <h2 class="type2">Grischelino fotograferad med Epstein. Hela NASDAQ slimad</h2>
                    </div>
                </article>
            </a>
        </div>
*/

.reading{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: agency_fb;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading img{
    height: 20em;
}
.heading h1{
    font-size: 4em;
}
.reading p{
    font-size: 2em;
}
.reading *{
    max-width: 100%;
}







footer{
    grid-area: ft;
    background-color: rgb(30, 29, 32);
    border: 1px aliceblue solid ;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: smaller;
    color: rgb(109, 106, 112);
}
div.f{
    align-self: center;
    width: 600px;
}
div.f:not(:last-child){
    border-bottom: 1px solid rgb(50, 48, 53);
}