body{
    margin:0;
    background-color: rgb(57, 66, 66);
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows:70px 50px;
    grid-template-areas:
    'hd hd hd hd'
    'dp dp dp dp';

}
header{
    background-color: blueviolet;
    grid-area:hd;
}

#display{
    grid-area:dp;
    
}